.btn {
    padding: .2rem 2.2rem;
    border-radius: 0.7rem;
    background: var(--colour-primary-gold);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 90);
    border-style: none;
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    color: var(--colour-secondary-black);
}

.btn:hover {
    transform: translateY(-3px);
    border-style: none;
}

.btn:focus,
.btn:active {
    transform: translateY(-1px);
}
  
  .btn:link,
  .btn:visited {
    text-decoration: none;
    border-style: none;
  }

  .btn h2 {
    transform: none;
  }