.main {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(0deg, rgba(22, 32, 46, 0.85) 0%, rgba(22, 32, 46, 0.85) 100%), url("../Assets/Home_Hero_Image.webp") lightgray 50% / cover no-repeat;
  min-height: 100vh;
  min-width: 100vw;
}

.content-container {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 10rem;
}

.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  height: auto;
  gap: 2rem;
}

.cafe-logo {
  position: relative;
  width: 35vw;
  height: 23.1vw;
}

.catering-logo {
  position: relative;
  width: 35vw;
  height: 16.8vw;
}

@media all and (max-width: 640px) {
  .main {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .content-container {
    flex-direction: column;
    gap: 10vh;
  }

  .logo-container {
    width: 80vw;
    height: fit-content;
  }

  .cafe-logo {
    width: 80vw;
    height: 52.8vw;
  }
  
  .catering-logo {
    width: 80vw;
    height: 38.4vw;
  }
}