.section__container--left-aligned {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2.625rem;
  width: 100vw;
  height: fit-content;
  padding-right: 6%;
  background-color: var(--colour-secondary-white);
}

.section__container--right-aligned {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  gap: 2.625rem;
  width: 100vw;
  height: fit-content;
  padding-left: 6%;
  background-color: var(--colour-primary-grey);
}

.section__content {
  position: relative;
  flex-direction: column;
  display: flex;
  flex: 1;
  gap: 2vh;
}

@media all and (max-width: 640px) {
  .section__container--left-aligned {
    flex-direction: column;
    padding: 0;
    padding-bottom: 3vh;
  }
  
  .section__container--right-aligned {
    flex-direction: column;
    padding: 0;
    padding-bottom: 3vh;
  }

  .section__content {
    padding: 0 5%;
  }
}